@import url(https://fonts.googleapis.com/css?family=Lobster|Oswald:300);
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.header {
  width: 60%;
  height: calc(50% -  60px );
  min-height: 120px;
  max-width: 500px;
  text-align: center;
  color: #333333;
  margin: 0px auto;
}
@media (max-width: 880px) {
  .header {
    height: calc(50% -  120px );
  }
}
.shortener {
  height: 80px;
  width: 840px;
  position: relative;
  margin: 0 auto 40px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
@media (max-width: 880px) {
  .shortener {
    width: 90%;
    height: 220px;
  }
}
.shortener #box {
  width: 840px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}
.shortener #box > figure {
  padding: 20px;
  margin: 0;
  display: block;
  position: absolute;
  border: 1px solid #aaaaaa;
  line-height: 120px;
  background-color: white;
}
.shortener #box.panels-backface-invisible > figure {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.shortener #box > .front,
.shortener #box > .back {
  width: 100%;
  height: 120px;
}
.shortener #box > .right,
.shortener #box > .left {
  width: 100%;
  height: 120px;
  border: 0;
  padding: 0;
  background: transparent;
}
.shortener #box > .right div,
.shortener #box > .left div {
  position: relative;
  padding: 20px;
  height: 120px;
  width: 90px;
  border: 1px solid #aaaaaa;
  left: calc(50% -  45px );
}
.shortener #box > .front {
  -webkit-transform: translateZ(45px);
  -moz-transform: translateZ(45px);
  -o-transform: translateZ(45px);
  transform: translateZ(45px);
}
.shortener #box > .back {
  -webkit-transform: rotateY(180deg) translateZ(45px);
  -moz-transform: rotateY(180deg) translateZ(45px);
  -o-transform: rotateY(180deg) translateZ(45px);
  transform: rotateY(180deg) translateZ(45px);
}
.shortener #box > .right {
  -webkit-transform: translateX(50%) rotateY(90deg);
  -moz-transform: translateX(50%) rotateY(90deg);
  -o-transform: translateX(50%) rotateY(90deg);
  transform: translateX(50%) rotateY(90deg);
}
.shortener #box > .left {
  -webkit-transform: translateX(-50%) rotateY(-90deg);
  -moz-transform: translateX(-50%) rotateY(-90deg);
  -o-transform: translateX(-50%) rotateY(-90deg);
  transform: translateX(-50%) rotateY(-90deg);
}
.shortener #box.show-front {
  -webkit-transform: translateZ(-45px);
  -moz-transform: translateZ(-45px);
  -o-transform: translateZ(-45px);
  transform: translateZ(-45px);
}
.shortener #box.show-back {
  -webkit-transform: translateZ(-45px) rotateY(180deg);
  -moz-transform: translateZ(-45px) rotateY(180deg);
  -o-transform: translateZ(-45px) rotateY(180deg);
  transform: translateZ(-45px) rotateY(180deg);
}
@media (max-width: 880px) {
  .shortener #box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
  }
  .shortener #box > figure {
    padding: 20px;
    margin: 0;
    display: block;
    position: absolute;
    border: 1px solid #aaaaaa;
    line-height: 220px;
    background-color: white;
  }
  .shortener #box.panels-backface-invisible > figure {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .shortener #box > .front,
  .shortener #box > .back {
    width: 100%;
    height: 220px;
  }
  .shortener #box > .right,
  .shortener #box > .left {
    width: 100%;
    height: 220px;
    border: 0;
    padding: 0;
    background: transparent;
  }
  .shortener #box > .right div,
  .shortener #box > .left div {
    position: relative;
    padding: 20px;
    height: 220px;
    width: 90px;
    border: 1px solid #aaaaaa;
    left: calc(50% -  45px );
  }
  .shortener #box > .front {
    -webkit-transform: translateZ(45px);
    -moz-transform: translateZ(45px);
    -o-transform: translateZ(45px);
    transform: translateZ(45px);
  }
  .shortener #box > .back {
    -webkit-transform: rotateY(180deg) translateZ(45px);
    -moz-transform: rotateY(180deg) translateZ(45px);
    -o-transform: rotateY(180deg) translateZ(45px);
    transform: rotateY(180deg) translateZ(45px);
  }
  .shortener #box > .right {
    -webkit-transform: translateX(50%) rotateY(90deg);
    -moz-transform: translateX(50%) rotateY(90deg);
    -o-transform: translateX(50%) rotateY(90deg);
    transform: translateX(50%) rotateY(90deg);
  }
  .shortener #box > .left {
    -webkit-transform: translateX(-50%) rotateY(-90deg);
    -moz-transform: translateX(-50%) rotateY(-90deg);
    -o-transform: translateX(-50%) rotateY(-90deg);
    transform: translateX(-50%) rotateY(-90deg);
  }
  .shortener #box.show-front {
    -webkit-transform: translateZ(-45px);
    -moz-transform: translateZ(-45px);
    -o-transform: translateZ(-45px);
    transform: translateZ(-45px);
  }
  .shortener #box.show-back {
    -webkit-transform: translateZ(-45px) rotateY(180deg);
    -moz-transform: translateZ(-45px) rotateY(180deg);
    -o-transform: translateZ(-45px) rotateY(180deg);
    transform: translateZ(-45px) rotateY(180deg);
  }
}
.shortener #box .left div,
.shortener #box .right div {
  background-image: url('http://subtlepatterns.com/patterns/dimension.png');
}
@media (max-width: 880px) {
  .shortener .control {
    line-height: 100px !important;
  }
}
.shortener .control input {
  display: inline-block;
  width: calc(100% - 234px);
  height: 80px;
  margin: 0 20px 0 0;
  padding: 0 20px;
  vertical-align: top;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 72px;
  outline: none;
  border-radius: 8px;
  border: 4px dotted #dddddd;
}
@media (max-width: 880px) {
  .shortener .control input {
    width: 100%;
  }
}
.shortener .control input:focus {
  border: 4px dotted #a3f3ff;
}
@media (max-width: 640px) {
  .shortener .control input {
    font-size: 24px;
  }
}
@media (max-width: 540px) {
  .shortener .control input {
    font-size: 20px;
  }
}
@media (max-width: 470px) {
  .shortener .control input {
    font-size: 18px;
  }
}
.shortener .control .button {
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 0;
  display: inline-block;
  font-family: 'Lobster';
  font-size: 45px;
  color: snow;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff6347), color-stop(1, #c22400));
  background-image: -o-linear-gradient(bottom, #ff6347 0%, #c22400 100%);
  background-image: -moz-linear-gradient(bottom, #ff6347 0%, #c22400 100%);
  background-image: -webkit-linear-gradient(bottom, #ff6347 0%, #c22400 100%);
  background-image: -ms-linear-gradient(bottom, #ff6347 0%, #c22400 100%);
  background-image: linear-gradient(to bottom, #ff6347 0%, #c22400 100%);
  text-shadow: 0px -1px 1px #969696;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.35);
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.35);
  border-radius: 8px;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  width: 210px;
  height: 80px;
  line-height: 80px;
}
.shortener .control .button:hover {
  opacity: 0.9;
}
@media (max-width: 880px) {
  .shortener .control .button {
    width: 100%;
  }
}
@media (max-width: 880px) {
  .shortener .result {
    line-height: 100px !important;
  }
}
.shortener .result .button {
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  position: relative;
  top: 0;
  display: inline-block;
  font-family: 'Lobster';
  font-size: 45px;
  color: snow;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff6347), color-stop(1, #c22400));
  background-image: -o-linear-gradient(bottom, #ff6347 0%, #c22400 100%);
  background-image: -moz-linear-gradient(bottom, #ff6347 0%, #c22400 100%);
  background-image: -webkit-linear-gradient(bottom, #ff6347 0%, #c22400 100%);
  background-image: -ms-linear-gradient(bottom, #ff6347 0%, #c22400 100%);
  background-image: linear-gradient(to bottom, #ff6347 0%, #c22400 100%);
  text-shadow: 0px -1px 1px #969696;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.35);
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.35);
  border-radius: 8px;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  width: 210px;
  height: 80px;
  line-height: 80px;
}
.shortener .result .button:hover {
  opacity: 0.9;
}
@media (max-width: 880px) {
  .shortener .result .button {
    width: 100%;
  }
}
.shortener .result a:first-of-type {
  display: inline-block;
  width: calc(100% - 234px);
  height: 80px;
  margin: 0 20px 0 0;
  padding: 0 20px;
  vertical-align: top;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 72px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
}
@media (max-width: 880px) {
  .shortener .result a:first-of-type {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .shortener .result a:first-of-type {
    font-size: 24px;
  }
}
@media (max-width: 540px) {
  .shortener .result a:first-of-type {
    font-size: 20px;
  }
}
@media (max-width: 470px) {
  .shortener .result a:first-of-type {
    font-size: 18px;
  }
}
@media (max-width: 430px) {
  .shortener .result a:first-of-type {
    font-size: 14px;
  }
}
@media (max-width: 355px) {
  .shortener .result a:first-of-type {
    font-size: 12px;
  }
}
.shortener .result.success a:first-of-type {
  border: 4px dotted #aaed7d;
  color: #333333;
}
.shortener .result.error a:first-of-type {
  border: 4px dotted #c22400;
  color: #c22400;
}
/*
 * Mixin adapted from Rectangular Prism example at:
 * http://desandro.github.io/3dtransforms/docs/rectangular-prism.html
 * Thank you David DeSandro!
 */
.hero {
  fill: #333333;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 120px;
}
.hero .plain {
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
}
.hero .heroic {
  font-family: 'Lobster', cursive;
  font-size: 55px;
}
.sig {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #333333;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-family: 'Lobster', cursive;
}
