.shortener .control {

    @media (max-width: 880px) {
        line-height: 100px !important;
    }

    input {
        display: inline-block;
        width: ~"calc(100% - 234px)";
        height: @shortener-height - (@shortener-padding * 2);
        margin: 0 20px 0 0;
        padding: 0 20px;
        vertical-align: top;

        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        line-height: @shortener-height - (@shortener-padding * 2) - 8px;
        
        outline: none;
        border-radius: 8px;
        border: 4px dotted @border-color-2;

        @media (max-width: 880px) {
            width: 100%;
        }

        &:focus {
            border: 4px dotted @border-color-4;
        }

        @media (max-width: 640px) {
            font-size: 24px;
        }

        @media (max-width: 540px) {
            font-size: 20px;
        }

        @media (max-width: 470px) {
            font-size: 18px;
        }
    }

    .button {
        .button(#FF6347, #C22400);

        width: 210px;
        height: @shortener-height - (@shortener-padding * 2);
        line-height: @shortener-height - (@shortener-padding * 2);

        @media (max-width: 880px) {
            width: 100%;
        }
    }
}