/*
 * Mixin adapted from Rectangular Prism example at:
 * http://desandro.github.io/3dtransforms/docs/rectangular-prism.html
 * Thank you David DeSandro!
 */

.prism(@width; @height; @depth; @padding) {
    @total-width: @width + (@padding * 2);
    @total-height: @height + (@padding * 2);
    @total-depth: @depth + (@padding * 2);

    width: @total-width;
    height: 100%;
    margin: 0 auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;

    & > figure {
        padding: @padding;
        margin: 0;
        display: block;
        position: absolute;
        border: 1px solid @border-color-1;
        line-height: @total-height;
        background-color: white;
    }

    &.panels-backface-invisible > figure {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    & > .front,
    & > .back {
        width: 100%;
        height: @total-height;
    }

    & > .right,
    & > .left {
        width: 100%;
        height: @total-height;
        border: 0;
        padding: 0;
        background: transparent;
        div {
            position: relative;
            padding: @padding;
            height: @total-height;
            width: @total-depth;
            border: 1px solid @border-color-1;
            left: ~"calc(50% - " (@total-depth / 2) ~")";
        }
    }

    & > .front  {
        -webkit-transform: translateZ( @total-depth / 2 );
        -moz-transform:    translateZ( @total-depth / 2 );
        -o-transform:      translateZ( @total-depth / 2 );
        transform:         translateZ( @total-depth / 2 );
    }
    & > .back   {
        -webkit-transform: rotateY( 180deg ) translateZ(  @total-depth / 2 );
        -moz-transform:    rotateY( 180deg ) translateZ(  @total-depth / 2 );
        -o-transform:      rotateY( 180deg ) translateZ(  @total-depth / 2 );
        transform:         rotateY( 180deg ) translateZ(  @total-depth / 2 );
    }
    & > .right {
        -webkit-transform: translateX( 50% ) rotateY(   90deg );
        -moz-transform:    translateX( 50% ) rotateY(   90deg );
        -o-transform:      translateX( 50% ) rotateY(   90deg );
        transform:         translateX( 50% ) rotateY(   90deg );
    }
    & > .left {
        -webkit-transform: translateX( -50% ) rotateY(  -90deg );
        -moz-transform:    translateX( -50% ) rotateY(  -90deg );
        -o-transform:      translateX( -50% ) rotateY(  -90deg );
        transform:         translateX( -50% ) rotateY(  -90deg );
    }

    &.show-front {
        -webkit-transform: translateZ(  -@total-depth / 2 );
        -moz-transform:    translateZ(  -@total-depth / 2 );
        -o-transform:      translateZ(  -@total-depth / 2 );
        transform:         translateZ(  -@total-depth / 2 );
    }
    &.show-back {
        -webkit-transform: translateZ( -@total-depth / 2 ) rotateY( 180deg );
        -moz-transform:    translateZ( -@total-depth / 2 ) rotateY( 180deg );
        -o-transform:      translateZ( -@total-depth / 2 ) rotateY( 180deg );
        transform:         translateZ( -@total-depth / 2 ) rotateY( 180deg );
    }
}
